* {
    font-family: Helvetica, sans-serif;
}

body {
    font-size: 16px;
    background-image: linear-gradient(-100deg, #A2F2F1 0%, #B19AFE 100%);
}

h1 {
    font-weight: 200;
    color: rgba(33, 37, 34, 0.83);
    font-size: 2rem;
}

h3 {
    color: grey;
    font-weight: 450;
}

.register-window {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    max-width: 32rem;
    width: 90%;
    position: fixed;
}

.register-window-inner {
    padding: 2.5rem;
}

.register-header {
    padding-bottom: 2rem;
}

.register-fieldset {
    border: 0 none;
    padding: 0;
}

.register-fieldset .register-input {
    padding: 0 0 0.5rem 0;
    margin-bottom: 1rem;
    width: 100%;
    border: none;
    border-bottom: 1px solid #e0e2f6;
    display: block;
}

.register-input:focus {
    outline: none;
    border-bottom-color: blue;
}


.register-button-group {
    float: right;
    display: flex;
    flex-direction: column;
}

.register-button {
    border: none;
    border-radius: 1rem;
    margin-bottom: 1.75rem;
    margin-top: 2.25rem;
    padding: 0.5rem 2.75rem;
    cursor: pointer;
    max-width: 10rem;
    color: white;
    font-size: 1rem;
    background-color: #54bdd6;
}