#silver {
    position: absolute;
    top: 350px;
    left: 450px;
    z-index: 1;
}

#red {
    position: absolute;
    top: 300px;
    left: 400px;
    z-index: 2;
}


#blue {
    position: relative;
}

#green {
    position: fixed;
    top: 100px;
    right: 0;
}


#yellow {
    position: absolute;
    bottom: 0;
    right: 0;
}


